@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
    font-family: 'Open Sans';
    color: var(--principal);
}

body {
    background-image: url('imgs/bg.jpg');
    background-attachment: fixed;
    margin-top: 0;
    margin-bottom: 0;
}

div#info {
    background-color: white;
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 1em;
}

h1 {
    color: white;
    background-color: #39a173;
    text-align: center;
}

header,
footer {
    background-color: #484e4e;
    padding: 2em;
}

header {
    margin: 0 0 4em 0;
}

footer {
    margin: 4em 0 0 0;
}

header h1,
header h1 em,
footer p {
    color: #94d4bc;
    background-color: #484e4e;
    text-align: center;
    text-indent: 0;
    border: none;
}

p {
    text-indent: 2em;
}

p#foto {
    text-align: center;
}

img {
    border-radius: 50%;
    border: 8px solid #39a173;
}

a:hover {
    color: #484e4e;
    background-color: #94d4bc;
}

table {
    width: 0;
    margin: 0 auto;
    border: #484e4e solid thin;
    border-collapse: collapse;
}

thead {
    background-color: #484e4e;
}

th {
    color: #94d4bc;
}

tbody tr:nth-child(odd) {
    background-color: #94d4bc;
}

th,
td {
    text-align: center;
    padding: .05em 1em;
}

tbody tr:hover td {
    color: #94d4bc;
    background-color: #484e4e;
}